In [3]:
import numpy as np

In [5]:
import pandas
data = pandas.read_csv('Heroes.rtf')

In [6]:
data.head(-1)

,{\rtf1\ansi\ansicpg1252\cocoartf2511
0,\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\...
1,{\colortbl;\red255\green255\blue255;}
2,{\*\expandedcolortbl;;}
3,\paperw11900\paperh16840\margl1440\margr1440\v...
4,\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401...
...,...
237,\
238,Winter Wyvern\
239,\
240,Witch Doctor\
241,\

In [5]:
import re

In [6]:
cars = pandas.read_csv('Downloads/pandas/cars.csv')

In [7]:
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [8]:
cars.loc[cars.hp==cars.hp.max()]

       Unnamed: 0   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

In [9]:
cars.loc[cars.hp==335]

       Unnamed: 0   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

In [10]:
pog = pandas.read_csv('Downloads/pandas-master/pokemon_data.csv')

In [11]:
pog

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [12]:
pog.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [13]:
Lpog = pog.loc[pog.Legendary]

In [14]:
Lpog.loc[Lpog['Type 1']=='Fairy']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [15]:
pog['Sum']= pog['HP']+ pog['Attack'] + pog['Defense'] + pog['Sp. Atk'] + pog['Sp. Def']

In [16]:
pog

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,550
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,590
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,530
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,530

In [17]:
pog.loc[pog['Sum']== 680]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,680
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,680

In [18]:
pog = pog.loc[~pog['Name'].str.contains('Primal')]

In [19]:
pog

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,550
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,590
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,530
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,530

In [20]:
pog.sort_values(by='Sum',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,665
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,650
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,640
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,629
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,608
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,150
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,145
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,145
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,120
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,120

In [21]:
pog = pog.loc[~pog['Name'].str.contains('Mega|Giga|Primal')]

In [22]:
pog =pog.sort_values(by='Sum',ascending=False)

In [23]:
pog

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,605
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,605
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,600
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,150
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,145
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,145
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,120
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,120

In [24]:
pog['Attk'] = pog['Attack']+ pog['Sp. Atk']

In [25]:
pog['Deffnd'] = pog['Sp. Def']+ pog['Defense']

In [28]:
pog

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum,Attk,Deffnd
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,605,290,190
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,605,290,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600,330,190
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,600,240,240
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,590,200,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,150,50,55
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,145,75,50
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,145,55,50
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,120,25,75
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,120,25,75

In [29]:
pog.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum,Attk,Deffnd
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,605,290,190
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,605,290,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600,330,190
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,600,240,240
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,590,200,240
540,483,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True,590,270,220
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True,590,240,200
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True,590,270,220
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True,590,270,220
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,590,240,244

In [30]:
pog

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum,Attk,Deffnd
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,605,290,190
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,605,290,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600,330,190
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,600,240,240
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,590,200,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,150,50,55
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,145,75,50
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,145,55,50
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,120,25,75
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,120,25,75

In [32]:
print(pog['Type 1']|pog['Type 2'].corr(pog['Legendary']))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [1]:
def nmax(arr, key='list'):
        arr[0]= max
        for i in range(1,len(arr)+1):
            if arr[i]>max:
                max=arr[i]
        print(max)

In [2]:
b = [1,4,5,12,124,1231]
max(b)

1231

In [3]:
def quicksort(arr, key = 'list'):
    slist =[]
    llist =[]
    if len(arr)<2:
        return(arr)
    else:
        pivot=arr[0]
        for i in range(1,len(arr)):
            if arr[i]<pivot:
                slist.append(arr[i])
            elif arr[i]>=pivot:
                llist.append(arr[i])              
        return quicksort(slist)+[pivot]+quicksort(llist)

In [4]:
array = [1,2,32,3,32,4,43,2,3]
quicksort(array)

[1, 2, 2, 3, 3, 4, 32, 32, 43]

In [5]:
from collections import deque
graph = {}
graph['you']=["Linda","Brad","Diana"]
graph["Linda"] = ["Ram"]
graph["Brad"] = ["Sam"]
graph["Diana"]= []

In [6]:
search_queue = deque()
search_queue += graph['you']
def person_is_seller(name):
    return name[-1] == 'm'

In [7]:
def mangos(graph):
    search_queue = deque()
    search_queue += graph['you']
    while search_queue:
        person = search_queue.popleft()
        if person_is_seller(person):
            print(person + " is a mango seller !")
            return True
        else:
            search_queue+= graph[person]
    return False

In [8]:
mangos(graph)

Ram is a mango seller !

True

In [54]:
way = []
def path(huinya,n):

    if n <= 0 :
        return
    if huinya[n-1]<huinya[n-2]:
        way.append(n-1)
        path(huinya,n-1)
    else:
        way.append(n-2)
        path(huinya,n-2)
path(info,len(info)-1)

In [67]:

def kuznec(n, price):
    global way
    way = []
    global info
    
    info = [1,1]+[0]*(n-2)
    for i in range(2,n):   
        info[i]=min(info[i-1],info[i-2])+price[i]
    print(info[n-1])
    path(info,len(info)-1)
    way = way[::-1]
    way.append(n-1)
    print(way)

In [76]:
price = [1,2,-2,5,2,2,2,5,7,8,9,5,8]
kuznec(13,price)

27
[0, 2, 4, 6, 8, 10, 12]

In [15]:
way

[4, 2, 0]

In [16]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [17]:
a = []
a.append(3)

In [66]:
way.append(2)

In [19]:
def test():
    global rt
    rt = []
    rt.append(2)

In [20]:
test()
rt

[2]

In [73]:
price = [1,2,-2,5,2,2,2,5,7,8,9,5,8]
len(price)

13

In [46]:
def triangle_number(n,key='int'):
    global number
    number = 0
    for i in range(1,n+1):
        number+=i
    return number

In [3]:
def brutefactors(n):
    global number
    global amount
    amount = 1
    number = 0
    i=1
    while amount <=n:
        number +=i
        factors_count(number)
        i+=1
        print(amount)
    else:
        return number

In [11]:
def factors_count(n):
    global factors
    global amount
    amount = 1
    for i in range(1,int(n**0.5+1)):
        if n%i==0:
            amount+=1

In [22]:
import time

def numdivisors(triangle):
    factors = 0
    for i in range(1, int((triangle ** 0.5)) + 1):
        if triangle % i == 0:
            factors += 1
    return factors * 2

def maxtriangledivisors(max):
    i = 1
    triangle = 0
    while i > 0:
        triangle += i
        if numdivisors(triangle) >= max:
            print ('it was found number', triangle,'triangle', i, 'with total of ', numdivisors(triangle), 'factors')
            return triangle
        i += 1

startTime=time.time()
maxtriangledivisors(500)
print(time.time()-startTime)

it was found number 76576500 triangle 12375 with total of  576 factors
2.804727077484131

In [22]:
Sieve = []

In [8]:
B = (True,2,5.3,A)

In [7]:
A = [1,2,3]

In [10]:
A [0] = 2

In [11]:
B

(True, 2, 5.3, [2, 2, 3])

In [13]:
s = 'hello'

In [16]:
str.help()

AttributeError: type object 'str' has no attribute 'help'